#include <stdio.h>

int main()
{
    int n, first=0, second=1, next, c;
    float f1, f2, f3, golden;
    
    printf("Enter the number of terms \n");
    scanf("%d",&n);
    for (c=0; c<n; c++)
    {
        if (c<=1)
        next =c;
        else
        {
            next=first+second;
            first=second;
            second=next;
        }
        printf("%d\n",next);
    }
    
    printf("Enter first  fibonacci number, F1: "); //any bigger number
    scanf("%f",&f1);
    printf("Enter second  fibonacci number (it should be immediate number of before f1), F2: "); // if it's f1=5, f2=4, if f1=13 f2=8
    scanf("%f",&f2);
    
    f3=(f1+f2);
    
    golden=(f3/f1);
    
    printf("The golden ratio of given measure: %f",golden);
    
    
    
    return 0;
}
